VT_API_KEY="your_virustotal_api_key_here"

Strelka_Dir="/path/to/strelka-oneshot"
Strelka_Server="127.0.0.1:57314"
broker_url="amqp://user:password@localhost:5672//"
result_backend="db+postgresql://user:password@localhost/analysis_db"
DATABASE_URL="postgresql://user:password@localhost:5432/analysis_db"
